<header>
    <nav class="nav nav-custom pt-2 pb-2 justify-content-around">
        <div>
            <a class="navbar-brand" href="/">
                <Image src="{{ asset('/img/logo_awsd.svg') }}" alt="Vercel Logo"
                    class="img-fluid rounded img_size img_background" />
            </a>
        </div>
        <div class="d-flex justify-content-between">
            <a class="nav-link" href="{{ path('app_home')}}">Accueil</a>
            <a class="nav-link" href="{{path('app_games')}}">Jeux</a>
            <a class="nav-link" href="{{path('app_mtg')}}">Magic the gathering</a>
            <a class="nav-link" href="#">New World Armurerie</a>
            {# <a class="nav-link" href="{{path('app_rosette_twitch')}}">Rosette Twitch</a> #}
            <a class="nav-link" href="#">About</a>
        </div>
        {% include "/__part/__connexion_form.html.twig" %}
    </nav>
</header>